* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* iframe 내부 전체 영역 사용 */
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgb(200, 255, 200);
}

canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
}