* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
  iframe 내부
*/
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #789fc8;
}

/*
  p5.js가 생성한 canvas는 실제 해상도는 600 x 400이지만
  화면 표시 크기는 iframe 크기에 맞게 조절
*/
canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
}